+++
title = "Software Hardening Foundation"
linkTitle = "Software Hardening Foundation"

+++

{{< blocks/cover title="Welcome to the Software Hardening Foundation" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Security guides for personal devices</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

We create step-by-step security guides unique to each operating system.  Our security guides are freely available to the public.

We are a U.S. based 501(c)(3) nonprofit organization.  Our founders are engineers and tech industry veterans who recognize the urgent need for practical security education. 
{{% /blocks/lead %}}


{{< blocks/section color="300" >}}

{{% blocks/feature icon=" " title=" " %}}

{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We use <span style="text-decoration: underline">**Github** Pull Request workflow</span>  for contributions. New users are always welcome!
{{% /blocks/feature %}}


{{< /blocks/section >}}

