+++
title = "Software Hardening"
linkTitle = "Software Hardening"

+++

{{< blocks/cover title="Welcome to the Software Hardening Foundation: a 501(c)(3) nonprofit" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Security guides for personal devices</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
The Software Hardening Foundation provides how-to guides to improve the security of personal devices.  We improve public awareness and understanding of configuration settings.  

We are actively seeking support for our charitable mission.
{{% /blocks/lead %}}


{{< blocks/section color="300" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{< /blocks/section >}}

